* {
  padding: auto;
}

.logo {
  position: relative;
  /* width: 255px;
  height: 119px; */
  width: 15vw;
  height: 7vw;
  left: 5vw;
  top: 3vw;

  background: rgba(196, 196, 196, 0.13);
}

.menu {
  position: absolute;
  /* width: 861px;
  height: 65px; */
  width: 82vh;
  height: 6.5vh;
  /* left: 31.75rem; */
  left: 26vw;
  top: 5vw;

  background: #f2dada;
}

.menu-items {
  display: flex;
  position: relative;
}

/* .item {
  position: absolute;
  text-align: center;
  padding: 15px 20px;
  cursor: pointer;
  width: 120px;
  height: 65px;
  font-size: 20px;
} */
.item-active {
  position: absolute;
  text-align: center;

  cursor: pointer;
  width: 10vw;
  height: 10vw;
  font-size: 1.1vw;
  background-color: #a58484;
  color: white;
  background-size: 100% 100%;
}

.notactive {
  position: relative;
  font-size: 1.1vw;
  padding: 0.938rem 0;
  width: 10vw;
  height: 5vw;
  text-align: center;
  background-size: 100% 100%;
}

.search {
  position: absolute;
  /* width: 12.5rem;
  height: 3.125rem; */
  width: 20vh;
  height: 5vh;
  left: 73vw;
  top: 5.3vw;

  background: #fef6f6;
  border-radius: 10px;
  display: flex;
}

.searchname {
  margin-top: 0.6vw;
  margin-left: 5vw;
  color: gray;
  font-size: 1vw;
}
.searchlogo {
  margin-top: 1vw;
  margin-left: 1vw;
}
.cart {
  position: absolute;

  left: 88vw;
  top: 5.5vw;
}

.like {
  position: absolute;

  left: 92vw;
  top: 5.5vw;
}

.logout {
  position: absolute;

  left: 1800px;
  top: 95px;
}

.logome {
  position: absolute;
  top: 2vw;
}

.itemCountCart {
  top: 5.1vw;
  right: 10vw;
  position: absolute;
  height: 20px;
  width: 20px;
  display: inline-flex;

  transform: translate(-50%, -50%);
  background-color: #577399;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 14px;
  border-radius: 400px;
  transition: all ease 1s;
  z-index: 1;
}

.itemCountWish {
  position: absolute;
  top: 5.1vw;
  right: 6vw;

  height: 20px;
  width: 20px;
  display: inline-flex;

  transform: translate(-50%, -50%);
  background-color: red;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 14px;
  border-radius: 400px;
  transition: all ease 1s;
  z-index: 1;
}
