.productdetail {
  background: linear-gradient(180deg, #f2e6e6 0%, rgba(255, 255, 255, 0) 100%),
    linear-gradient(180deg, #f4e7e7 0%, rgba(255, 255, 255, 0) 100%), #ddcdcd;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.detail {
  margin-top: 12vw;
  margin-left: 180px;
}

.alldetailshere {
  display: flex;
  padding-top: 40px;
}

.insidebox {
  width: 550px;
  margin-right: 30px;
  object-fit: cover;
}

.smallImages {
  position: relative;
  width: 100px;
  object-fit: cover;
  margin-right: 200px;
}

.iamheader {
  position: absolute;
  width: 530px;
  height: 68px;

  font-family: Noto Serif TC;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 52px;
  text-decoration-line: underline;

  color: #000000;
}

.stars {
  display: flex;
  padding-top: 50px;
  color: rosybrown;
}

.starts-fill {
  fill: black;
}

.writtendetails {
  display: flex;
}

.hareyy {
  position: relative;
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 10px;

  cursor: pointer;
}

.heartisempty {
  position: absolute;
  margin-right: 10px;
  margin-left: 80px;
  margin-top: 20px;
  width: 40px;
  height: 40px;
  cursor: pointer;
}
.heartisempty:hover {
  color: brown;
  fill: burlywood;
}

.heartisfull {
  margin-left: 80px;
  margin-top: 20px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  fill: palevioletred;
}

.desc {
  width: 400px;
  margin-top: 20px;
}

.writeprice {
  margin-top: 15px;
  font-size: 20px;
  text-decoration: line-through;
  text-decoration-color: saddlebrown;
  padding-right: 20px;
}

.writepricenew {
  margin-top: 15px;
  font-size: 20px;
}

.desc .p {
  padding-top: 5px;
  margin-bottom: 5px;
}
.writextra {
  margin-top: 20px;
}
