.slider {
  position: absolute;
  /* width: 100.375rem;
  height: 43.125rem; */
  width: 85vw;
  height: 35vw;
  left: 7vw;
  top: 15.625rem;

  background: url(/home/moon/gitWorkspace/styleStudio-main/site/src/assets/aiyo.jpg);
  background-size: cover;

  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 5.188rem;
}

.discountInfo {
  position: absolute;
  width: 30vw;
  height: 184px;
  left: 5vw;
  top: 5vw;

  font-family: Rosario;
  font-style: normal;
  font-weight: normal;
  font-size: 4vw;
  line-height: 5vw;

  color: #411e1e;
}

.quote {
  position: absolute;
  width: 25vw;
  height: 10vw;
  left: 63vw;
  top: 100px;

  font-family: Sacramento;
  font-style: normal;
  font-weight: normal;
  font-size: 3.8vw;
  line-height: 5vw;

  color: #000000;
}

.shopButton {
  position: absolute;
  width: 11vw;
  height: 4vw;
  left: 5vw;
  top: 15vw;

  background: #f2c1c1;
  border: 1px solid #0e1a8d;
  box-sizing: border-box;
  backdrop-filter: blur(4px);
  font-size: 1.6vw;
  font-family: fantasy;
  padding: 1vw 2vw;
  cursor: pointer;

  border-radius: 32px;
}

/* @media (max-width: 768px) {
  .slider {
    position: relative;
    width: 700px;
    height: 300px;
    left: 40px;
    top: 250px;

    background: url(/home/moon/gitWorkspace/styleStudio-main/site/src/assets/aiyo.jpg);
    background-size: cover;

    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 52px;
  }

  .discountInfo {
    position: absolute;
    width: 150px;
    height: 20px;
    left: 20px;
    top: 30px;

    font-family: Rosario;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 28px;

    color: #411e1e;
  }
  .quote {
    position: absolute;
    width: 180px;
    height: 34px;
    left: 520px;
    top: 60px;

    font-family: Sacramento;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 24px;

    color: #000000;
  }
  .shopButton {
    width: 90px;
    height: 30px;
    left: 15px;
    top: 125px;

    background: #f2c1c1;
    border: 1px solid #0e1a8d;
    box-sizing: border-box;
    backdrop-filter: blur(2px);
    font-size: 18px;
    font-family: fantasy;
    padding: 3px 5px;
    cursor: pointer;

    border-radius: 10px;
  }
} */
